/* @override 
	http://localhost:3000/stylesheets/scaffold.css
	http://lappy586.local:3001/stylesheets/admin.css
*/

@import url(lib/reset.css);

html, body {
	background: url(../images/sidebar-bg.png) repeat-y;
	font-family: Helvetica;
}

#toolbar {
	background: -webkit-gradient(linear, left top, left bottom, from(#a2b2d0), to(#6f82aa));
	border-bottom: 1px solid #000;
}

#toolbar > div {
	padding: 10px 20px;
}

#left-sidebar {
	width: 180px;
	float: left;	
}

#left-sidebar ul {
	padding: 20px 0 0;
}

#left-sidebar ul a {
	display: block;
	padding: 4px 20px;
	text-decoration: none;
	color: #000;
	font-size: 13px;
	margin-bottom: 2px;
}

#left-sidebar ul .current a {
	background: -webkit-gradient(linear, left top, left bottom, from(#a2b2d0), to(#6f82aa));
	border-top: 1px solid #91a0c0;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	font-weight: bold;
}

#workspace {
	margin-left: 180px;
}